<body bgcolor="#FFFFFF" leftmargin="40" topmargin="0" marginwidth="0" marginheight="0">
<div>
    <br />
    <table style="width: 800px;">
        <tbody>
        <tr>
            <td colspan="2" width="600" height="28"><div style="text-align: left; float: left; font-size: 26px; font-weight: bold; color: #253400; font-family: arial, sans-serif;">
                <div style="text-decoration: none;color:black">springmvc-html5-angularjs-bootstrap</div></td>
        </tr>
        <tr>
            <td rowspan="2" width="334" height="18" bgcolor="grey"></td>
            <td colspan="2" width="266" height="10" bgcolor="yellow"></td>
        </tr>
        <tr>
            <td colspan="2" style="color: #000000;border: 1px solid #FFFFFF;" rowspan="2" width="100" height="130" align="center"
                valign="top" bgcolor="#87cefa">
                <table>
                    <tbody>
                    <tr >
                        <td  style="color: #000000; font-size: 14px; font-family: arial, sans-serif;" align="left">
                            <b>Hey!</b><br/>Use Java Mail API is easy, right?
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="334" height="497" align="left" valign="top">
                <table style="width: 450px;">
                    <tbody>
                    <tr>
                        <td style="font-size: 17px; font-family: arial, sans-serif; color: #5d8400; text-align: left;font-weight: bold;">You can see email from your app!</td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-family: arial, sans-serif; color: #000000; text-align: left;">
                            <a href="$urljavastudy">Java Spring Framework 4 and Core Spring learning</a>
                            <br /><br />
                            <i>or you copy and paste the following link in your browser's URL box</i>
                            <br /><br />

                            User name parameter from EmailController -  $userName

                            <br /></td>
                    </tr>
                    <tr>
                        <td>
                            <h2>This is your message:</h2>
                            ${message}
                        </td>
                    </tr>
                    </tbody>
                </table></td>
            <td width="24" height="65"></td>
        </tr>
        <tr>
            <td colspan="2" width="266" align="center" valign="top">
                <table style="width: 266; border: 3px solid #ffffff;">
                    <tbody>
                    <tr>
                        <td style="font-size: 15px; font-family: arial, sans-serif; color: #a3a3a3;">
                            <div style="margin: 0 7px;">JavaStudy 2016</div></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>